<navbar></navbar>
<messages></messages>
<main>
  <div class="container-fluid bg-white">
    <div class="row col-lg-12">
          <table id="einsatzTabelle" class="table table-bordered">
            <thead class="thead-inverse">
              <tr>
                <th colspan="2" class="col-lg-4 searchRow">
                  <input type="text" class="form-control" ng-model="$ctrl.searchTerm" placeholder="Suche"/>
                </th>
                <th class="col-lg-8" rowspan="2">
                  <jahres-auswahl year="$ctrl.year"></jahres-auswahl>
                  <monats-anzeige></monats-anzeige>
                </th>
              </tr>
              <tr>
                <th class="col-lg-2">Mitarbeiter</th>
                <th class="col-lg-2">Projekte</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat-start="mitarbeiterEinsatz in $ctrl.mitarbeiterEinsaetze | filter: $ctrl.searchTerm" ng-init="outerIndex = $index">
                <td rowspan="{{mitarbeiterEinsatz.einsatze.length}}" class="mitarbeiterInfo">
                  <div>
                    <div class="name">{{mitarbeiterEinsatz.mitarbeiter.name}}
                      {{mitarbeiterEinsatz.mitarbeiter.vorname}}
                    </div>
                    <div class="oe">{{mitarbeiterEinsatz.mitarbeiter.oeName}}</div>
                  </div>
                  <a href="" ng-click="$ctrl.createEinsatz(mitarbeiterEinsatz.mitarbeiter, $index)">
                      <span class="glyphicon glyphicon-plus-sign"></span>
                      Einsatz erfassen
                  </a>
                  <span ng-show="mitarbeiterEinsatz.mitarbeiter.name"
                    class="glyphicon glyphicon-trash pull-right link"
                    ng-click="$ctrl.deleteMitarbeiter(mitarbeiterEinsatz.mitarbeiter)">
                  </span>
                </td>
                <td>
                  <b>{{ mitarbeiterEinsatz.einsatze[0].projekt.name }}</b>
                  <span ng-show="mitarbeiterEinsatz.einsatze[0].projekt.name && mitarbeiterEinsatz.einsatze[0].senioritaet">als</span>
                  {{ mitarbeiterEinsatz.einsatze[0].senioritaet }} {{ mitarbeiterEinsatz.einsatze[0].rolle | uppercase }}
                  <br />
                  <a href="" ng-show="mitarbeiterEinsatz.einsatze[0]"
                  ng-click="$ctrl.addPensum(mitarbeiterEinsatz.mitarbeiter, mitarbeiterEinsatz.einsatze[0])">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Pensum erfassen
                  </a>
                  <span ng-show="mitarbeiterEinsatz.einsatze[0].projekt.name"
                    class="glyphicon glyphicon-trash pull-right link"
                    ng-click="$ctrl.deleteEinsatz(mitarbeiterEinsatz.einsatze[0])">
                  </span>
                </td>
                <td class="timeaxis-td">
                  <zeitachse selected-year="$ctrl.year" pensen="mitarbeiterEinsatz.einsatze[0].pensen"
                    row-index="outerIndex" ng-if="mitarbeiterEinsatz.einsatze[0].pensen"
                    ></zeitachse>
                </td>
              </tr>
              <tr ng-repeat-end ng-repeat="einsatz in mitarbeiterEinsatz.einsatze.slice(1)">
                <td>
                  <b>{{ einsatz.projekt.name }}</b>
                  <span ng-show="einsatz.projekt.name && einsatz.senioritaet">als</span>
                  {{ einsatz.senioritaet }} {{ einsatz.rolle | uppercase }}
                  <br />
                  <a href="" ng-show="einsatz"
                  ng-click="$ctrl.addPensum(mitarbeiterEinsatz.mitarbeiter, einsatz)">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Pensum erfassen
                  </a>
                  <span ng-show="mitarbeiterEinsatz.einsatze[0].projekt.name"
                    class="glyphicon glyphicon-trash pull-right link"
                    ng-click="$ctrl.deleteEinsatz(einsatz.einsatzId)">
                  </span>
                </td>
                <td class="timeaxis-td">
                  <zeitachse selected-year="$ctrl.year" pensen="einsatz.pensen"
                    row-index="outerIndex" ng-if="einsatz.pensen" add-pensum="$ctrl.addPensum()">
                  </zeitachse>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-info" ng-click="$ctrl.createMitarbeiter()">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Mitarbeiter erfassen
          </button>
      </div>
  </div>
</main>
