<div class="modal-header">
    <h2>Einsatz erfassen für {{$ctrl.mitarbeiter.name}}</h2>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="projektInput">Projekt:</label>
            <input type="text"
                   class="form-control"
                   id="projektInput"
                   placeholder="Projekt"
                   autocomplete="off"
                   ng-disabled="$ctrl.isEinsatzExisting"
                   ng-model="$ctrl.selectedProjekt"
                   uib-typeahead="project for project in $ctrl.searchByName($viewValue)"
                   typeahead-loading="loadingLocations"
                   typeahead-no-results="$ctrl.projektNotFound">
        </div>
        <div ng-show="$ctrl.projektNotFound">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Kein Projekt gefunden - Ein neues Projekt mit dem Namen "{{ $ctrl.selectedProjekt }}" wird angelegt
        </div>

        <div class="form-group">
            <label for="senioritaetInput">Seniorität:</label>
            <select id="senioritaetInput" class="form-control" ng-model="$ctrl.einsatz.senioritaet"
            ng-disabled="$ctrl.isEinsatzExisting">
                <option value="junior">Junior</option>
                <option value="prof">Professional</option>
                <option value="senior">Senior</option>
            </select>
        </div>

        <div class="form-group">
            <label for="rolleInput">Rolle:</label>
            <select id="rolleInput" class="form-control" ng-model="$ctrl.einsatz.rolle"
            ng-disabled="$ctrl.isEinsatzExisting">
                <option value="ae">Application Engineer</option>
                <option value="sa">Software Architect</option>
                <option value="tm">Test Manager</option>
                <option value="aom">Application Operation Manager</option>
                <option value="ba">Business Analyse</option>
            </select>
        </div>

        <div class="form-group">
            <label for="pensumInput">Pensum:</label>
            <input type="number" class="form-control" id="pensumInput" min="1" max="100" placeholder="Pensum" ng-model="$ctrl.pensum.pensum">
        </div>

        <div class="form-group">
            <label for="einsatzStart">Beginn des Einsatzes:</label>
            <p class="input-group">
                <input type="text" class="form-control" id="einsatzStart" ng-model="$ctrl.pensum.anfang"
                       uib-datepicker-popup="{{$ctrl.dateFormat}}"
                       is-open="$ctrl.vonDatepicker.opened"
                       datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
      <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="$ctrl.openEinsatzStartPopup()"><i
              class="glyphicon glyphicon-calendar"></i></button>
      </span>
            </p>
        </div>

        <div class="form-group">
            <label for="einsatzEnde">Ende des Einsatzes:</label>
            <p class="input-group">
                <input type="text" class="form-control" id="einsatzEnde" ng-model="$ctrl.pensum.ende"
                       uib-datepicker-popup="{{$ctrl.dateFormat}}"
                       is-open="$ctrl.bisDatepicker.opened"
                       datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
      <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="$ctrl.openEinsatzEndePopup()"><i
              class="glyphicon glyphicon-calendar"></i></button>
      </span>
            </p>
        </div>
        <button type="submit" class="btn btn-primary" ng-if="!$ctrl.isEinsatzExisting" ng-click="$ctrl.save()">Speichern</button>
        <button type="submit" class="btn btn-primary" ng-if="$ctrl.isEinsatzExisting" ng-click="$ctrl.addPensum()">Pensum erfassen</button>
        <button type="submit" class="btn btn-default" ng-click="$ctrl.cancel()">Abbrechen</button>
    </form>
</div>
