<navbar></navbar>
<messages></messages>
<main>
  <div class="container-fluid bg-white">
    <div class="row col-lg-offset-1 col-lg-10">
          <table id="einsatzTabelle" class="table table-bordered">
            <thead class="thead-inverse">
              <tr>
              <th class="col-lg-2">Mitarbeiter</th>
              <th class="col-lg-2">Projekte</th>
              <th class="col-lg-8">
                <jahres-auswahl year="$ctrl.year"></jahres-auswahl>
                <monats-anzeige></monats-anzeige>
              </th>
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat-start="mitarbeiterEinsatz in $ctrl.mitarbeiterEinsaetze">
                <td rowspan="{{mitarbeiterEinsatz.einsatze.length}}">{{mitarbeiterEinsatz.mitarbeiter.name}} {{mitarbeiterEinsatz.mitarbeiter.vorname}}</td>
                <td>
                  <b>{{ mitarbeiterEinsatz.einsatze[0].projekt.name }}</b>
                  {{ mitarbeiterEinsatz.einsatze[0].senioritaet }} {{ mitarbeiterEinsatz.einsatze[0].rolle }}
                </td>
                <td>
                  <zeitachse selected-year="$ctrl.year" pensum="mitarbeiterEinsatz.einsatze[0].pensum"
                    row-index="$index"></zeitachse>
                  </div>
                </td>
              </tr>
              <tr ng-repeat-end ng-repeat="einsatz in mitarbeiterEinsatz.einsatze.slice(1)">
                <td>
                  <b>{{ einsatz.projekt.name }}</b>
                  {{ einsatz.senioritaet }} {{ einsatz.rolle }}
                </td>
                <td>
                  <zeitachse selected-year="$ctrl.year" pensum="einsatz.pensum"
                    row-index="$parent.$index"></zeitachse>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</main>
