<navbar></navbar>
<messages></messages>
<main>
  <div class="container-fluid bg-white">
    <div class="row col-lg-offset-1 col-lg-10">
          <table id="einsatzTabelle" class="table table-bordered">
            <thead class="thead-inverse">
              <tr>
              <th class="col-lg-2">Mitarbeiter</th>
              <th class="col-lg-2">Projekte</th>
              <th class="col-lg-8">
                <jahres-auswahl year="$ctrl.year"></jahres-auswahl>
                <monats-anzeige></monats-anzeige>
              </th>
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat-start="mitarbeiterEinsatz in $ctrl.mitarbeiterEinsaetze" ng-init="outerIndex = $index">
                <td rowspan="{{mitarbeiterEinsatz.einsatze.length}}">
                  {{mitarbeiterEinsatz.mitarbeiter.name}} {{mitarbeiterEinsatz.mitarbeiter.vorname}}
                  <br />
                  <a href="" ng-click="$ctrl.createEinsatz(mitarbeiterEinsatz.mitarbeiter, $index)">
                      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                      Einstaz erfassen
                  </a>
                </td>
                <td>
                  <b>{{ mitarbeiterEinsatz.einsatze[0].projekt.name }}</b>
                  {{ mitarbeiterEinsatz.einsatze[0].senioritaet }} {{ mitarbeiterEinsatz.einsatze[0].rolle }}
                </td>
                <td class="timeaxis-td">
                  <zeitachse selected-year="$ctrl.year" pensum="mitarbeiterEinsatz.einsatze[0].pensum"
                    row-index="outerIndex" ng-if="mitarbeiterEinsatz.einsatze[0].pensum"
                    ></zeitachse>
                  </div>
                </td>
              </tr>
              <tr ng-repeat-end ng-repeat="einsatz in mitarbeiterEinsatz.einsatze.slice(1)">
                <td>
                  <b>{{ einsatz.projekt.name }}</b>
                  {{ einsatz.senioritaet }} {{ einsatz.rolle }}
                </td>
                <td class="timeaxis-td">
                  <zeitachse selected-year="$ctrl.year" pensum="einsatz.pensum"
                    row-index="outerIndex" ng-if="einsatz.pensum"
                    >
                  </zeitachse>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-info" ng-click="$ctrl.createMitarbeiter()">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Mitarbeiter erfassen
          </button>
      </div>
  </div>
</main>
