<div class="row">
  <div class="col-lg-2">
    <button class="btn btn-default yearSelectionButton" ng-click="$ctrl.dekrementYear()">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </button>
  </div>
  <div class="col-lg-8 text-center">
    <h1>{{ $ctrl.year }}<h1>
  </div>
  <div class="col-lg-2">
    <button class="btn btn-default pull-right" ng-click="$ctrl.inkrementYear()">
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </button>
  <div>
</div>
